doctype html
html(lang="en")
  head
    title House Manager
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    style(type='text/css').
      body {    padding-top: 60px; }
      p.error { color: red }

  body

    div.navbar.navbar-fixed-top.navbar-inverse
      ul.nav.navbar-nav
        p.navbar-text hmAlpha
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown",data-bind="text: username")
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Profile
              a(href="#") logout
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown", data-bind="text: housename")
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Add House

    div.container-fluid
      div.row-fluid
      div.col-md-2
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#",data-bind="text: housename")
        ul.nav.nav-pills.nav-stacked(data-bind="foreach: systemNames")
          li
            a
              span(data-bind="text:$data,event:{click:$parent.selectSystem}")
        ul.nav.nav-pills.nav-stacked
          li
            a.btn(href="#addSystemModal",data-toggle="modal",role="button") <i> Add System </i>
      div.col-md-10
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#sysspecs",role="tab",data-toggle="tab",id="sysspecstab") Specs
          li
            a(href="#syslog",role="tab",data-toggle="tab",id="syslogtab") Log
          li
            a(href="#syspics",role="tab",data-toggle="tab",id="syspicstab") Pics
        div.tab-content#mainview
          div.tab-pane.active#sysspecs
            input(data-bind="value: specs_dname",placeholder="display name")
            br
            input(data-bind="value: specs_sname",placeholder="system name")
            &nbsp &nbsp &nbsp
            input(data-bind="value: specs_location",placeholder="location")
            br
            input(data-bind="value: specs_vendormodel",placeholder="vendor           model #:            s/n:")
            br
            textarea#sysspecs(placeholder="specs...")
            br
            input(placeholder="install date")
            br
            input(placeholder="main schedule")
          div.tab-pane#syslog
            p log pane
          div.tab-pane#syspics
            p some pics....
  

    div#addSystemModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3#myModalLabel Add A System...
          div.modal-body
            p.error(data-bind="text: submitNewSystemErrorString")
            form(data-bind="submit: submitNewSystem")
              div.input-group
                input.form-control(type="text", data-bind="value: newSystemName", placeholder="system name")
                input.form-control(type="text", data-bind="value: newLocation", placeholder="location")
              br
              input(type="submit", value="Submit")
          //div.modal-footer
            //button.btn(data-dismiss="modal", aria-hidden="true") Close
            //button#addSystemButton.btn.btn-primary Save changes



  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")

  script(type='text/javascript').
    var hModel = new function() {
      var self = this;
      self.username = ko.observable();
      self.housename = ko.observable();
      self.systemNames = ko.observableArray();
      self.newSystemName = ko.observable();
      self.newLocation = ko.observable();
      self.selectSystem = function ( s ) {
        //$("#sysspecs").text("selecting the system: " + s);
        console.log("selecting the system: "+s);
        self.specs_dname(s);
        showSpecsTab( null );
      };
      self.specs_dname = ko.observable();
      self.specs_sname = ko.observable();
      self.specs_location = ko.observable();
      self.specs_vendormodel = ko.observable();
      self.submitNewSystemErrorString = ko.observable();
      self.submitNewSystem = function () {
        var nsn = this.newSystemName();
        if (!nsn || !nsn.length) {
          this.submitNewSystemErrorString("Hmmm... the system name appears to be empty");
          return false; // leave form on screen
        }
        var nsl = this.newLocation();
        self.systemNames.push(nsn);
        var dnum = self.systemNames().length;
        $.post("/rest/system/?systemName=" + escape(nsn) + "&location=" + escape(nsl) + "&displayorder=" + dnum );
        return true; // allows form to accept event and vanish
      };
    };
    ko.applyBindings(hModel);

    // init the interface
    //$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
    $("#addSystemModal").on('hide.bs.modal', function(e) {
      console.log("asm hide clear error");
      hModel.submitNewSystemErrorString("");
    });
    function installShowHandler( id, cb ) { $(id).on('show.bs.tab', cb); };
    installShowHandler( "#sysspecstab", showSpecsTab );
    installShowHandler( "#syslogtab", showLogTab );
    installShowHandler( "#syspicstab", showPicsTab );

    // the show handlers are used to grab the data from the db and display it (!! if it is not there!)
    function showSpecsTab( e ) {
      //console.log("showspcstab handler...");
      // grap the specs for...
      var currSys = hModel.specs_dname();
      console.log("....specs_dname: " + currSys);
      hModel.specs_sname( "" );
      hModel.specs_location( "" );
      hModel.specs_vendormodel( "" );
      $.getJSON("/rest/system/"+escape(currSys), function(data) {
        //console.log("back in getjson");
        hModel.specs_sname( data[0].systemname );
        hModel.specs_location( data[0].location );
        hModel.specs_vendormodel( data[0].vendormodel );
      });
    }
    function showLogTab( e ) {
      console.log("showlogtab handler...");
    }
    function showPicsTab( e ) {
      console.log("showpicstab handler...");
    }
    
    function showHouseTab () {  // for showing the house details
      // hack?? just use the specs 
    }


    // initialize the houses, systems
    hModel.username("netrc");   // get the auth user name
    hModel.housename("7Byron"); // get the default house
    $.getJSON("/rest/system/", function(data) { hModel.systemNames( data ); } );
