doctype html
html(lang="en")
  head
    title House Manager
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    style(type='text/css').
      body {    padding-top: 60px; }
      p.error { color: red }

  body

    div.navbar.navbar-fixed-top.navbar-inverse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") hmAlpha
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Change/Add House
            li.divider
            li
              a(href="#") Logout
            li
              a(href="#") Profile
        p.navbar-text(data-bind="text: username")
        p.navbar-text(data-bind="text: housename")

    div.container-fluid
      div.row-fluid
      div.col-md-2
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#",data-bind="text: housename")
        ul.nav.nav-pills.nav-stacked(data-bind="foreach: systemNames")
          li
            a
              span(data-bind="text:$data,event:{click:$parent.selectSystem}")
        ul.nav.nav-pills.nav-stacked
          li
            a.btn(href="#addSystemModal",data-toggle="modal",role="button") <i> Add System </i>
      div.col-md-10
        ul.nav.nav-tabs(role="tablist")
          li.active
            a(href="#sysspecs",role="tab",data-toggle="tab",id="sysspecstab") Specs
          li
            a(href="#syslog",role="tab",data-toggle="tab",id="syslogtab") Log
          li
            a(href="#syspics",role="tab",data-toggle="tab",id="syspicstab") Pics
        div.tab-content#mainview
          div.tab-pane.active#sysspecs
          div.tab-pane#syslog
          div.tab-pane#syspics
  

    div#addSystemModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3#myModalLabel Add A System...
          div.modal-body
            p.error(data-bind="text: submitNewSystemErrorString")
            form(data-bind="submit: submitNewSystem")
              div.input-group
                input.form-control(type="text", data-bind="value: newSystemName", placeholder="system name")
                input.form-control(type="text", data-bind="value: newLocation", placeholder="location")
              br
              input(type="submit", value="Submit")
          //div.modal-footer
            //button.btn(data-dismiss="modal", aria-hidden="true") Close
            //button#addSystemButton.btn.btn-primary Save changes



  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")

  script(type='text/javascript').
    var hModel = new function() {
      var self = this;
      self.username = ko.observable();
      self.housename = ko.observable();
      self.systemNames = ko.observableArray();
      self.newSystemName = ko.observable();
      self.newLocation = ko.observable();
      self.selectSystem = function ( s ) {
        $("#sysspecs").text("selecting the system: " + s);
      };
      self.submitNewSystemErrorString = ko.observable();
      self.submitNewSystem = function () {
        var nsn = this.newSystemName();
        if (!nsn || !nsn.length) {
          this.submitNewSystemErrorString("Hmmm... the system name appears to be empty");
          return false; // leave form on screen
        }
        var nsl = this.newLocation();
        self.systemNames.push(nsn);
        var dnum = self.systemNames().length;
        $.post("/rest/system/?systemName=" + escape(nsn) + "&location=" + escape(nsl) + "&displayorder=" + dnum );
        return true; // allows form to accept event and vanish
      };
    };
    ko.applyBindings(hModel);

    // init the interface
    //$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
    function installShowHandler( id, cb ) { $(id).on('show.bs.tab', cb); };
    installShowHandler( "#sysspecstab", showSpecsTab );
    installShowHandler( "#syslogtab", showLogTab );
    installShowHandler( "#syspicstab", showPicsTab );

    // the show handlers are used to grab the data from the db and display it (!! if it is not there!)
    function showSpecsTab( e ) {
      console.log("showspcstab handler...");
    }
    function showLogTab( e ) {
      console.log("showlogtab handler...");
    }
    function showPicsTab( e ) {
      console.log("showpicstab handler...");
    }


    // initialize the houses, systems
    hModel.username("netrc");
    hModel.housename("7Byron");
    hModel.submitNewSystemErrorString("foobar");
    $.getJSON("/rest/system/", function(data) { hModel.systemNames( data ); } );
