doctype html
html(lang="en")
  head
    title House Manager
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    style body {    padding-top: 60px;}

  body

    div.navbar.navbar-fixed-top.navbar-inverse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") hmAlpha
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Change/Add House
            li.divider
            li
              a(href="#") Logout
            li
              a(href="#") Profile
        p.navbar-text netrc
        p.navbar-text 7Byron

  div.col-md-2
    ul.nav.nav-pills.nav-stacked(data-bind="foreach: systemNames")
      li
        a
          span(data-bind="text:$data,event:{click:$parent.selectSystem}")
    ul.nav.nav-pills.nav-stacked
      li
        a <i> Add System </i>
  div.col-md-10
    ul.nav.nav-tabs(role="tablist")
      li.active
        a Specs
      li
        a Log
      li
        a Pics

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")

  script(type='text/javascript').
    var systemModel = function() {
      var self = this;
      self.systemNames = ko.observableArray();
      self.selectSystem = function ( s ) {
        console.log("selecting ",s);
        };
    };
    var x = new systemModel();
    ko.applyBindings(x);
    x.systemNames( !{JSON.stringify(sName)} );
